*{
    box-sizing: border-box;
}
#main{
    width : 600px;
    border : 5px solid #99f;
    padding : 20px;
    border-radius: 10px;
}
#main h2{
    text-align: center;
}
#main>#title{
    background-color: #444;
    color : #fff;
}
#main>#title, #main .list{
    display: flex;
}
#main .list:hover{
    background-color: #ccc;
    cursor: pointer;
}
#main .name { width: 120px;}
#main .address{width: 150px;}